.container {
    display: flex;
    align-items: center;
    height: 400px;
}

.container div {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
}

#elemento4 {
    align-self: flex-start;
}